.people {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-column-gap: 30px;
    grid-row-gap: 10px;
    justify-content: center;
    padding: 50px 0;
}

.person {
    height: 261px;
    width: 200px;
}

.photo {
    position: relative;

    img {
        border-radius: 50%;
        width: 200px;
        height: 200px;
    }

    .rank {
        padding: 7px 12px;
        position: absolute;
        top: calc(50% - 16px);
        right: 10px;
        color: #8B0000;
        font-size: 16px;
        background: #FFFFFF;
        border-radius: 50%;
    }

    .last {
        padding: 7px;
    }
}

.details {
    text-align: center;

    .name {
        font-size: 20px;
        line-height: 23px;
        color: #2F4F4F;
    }

    .extra {
        margin-top: 8px;
        opacity: 0;
        font-size: 18px;
        line-height: 21px;
    }
}