$time-transform: 1s linear;

.person:hover {
    transition: transform $time-transform;
    background-color: #EEEEEE;
    border-radius: 12px;
    transform: scale(1.35);
    z-index: 1;

        .extra {
            transition: opacity $time-transform;
            opacity: 1;
        }

        .photo img {
            border-radius: 60px;
            transition: $time-transform;
        }
}

.person:not(:hover) {
    transition: transform $time-transform;

    .photo img {
        transition: border-radius $time-transform;
    }
}